:root {
  --PColor: #609;
  --SColor: #ffc600;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  background-color: #eee;
  font-family: "Montserrat", arial;
}
.dialog_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  display: none;
}
h2 {
  margin: 0;
  text-align: center;
  font-weight: 400;
  width: 60%;
  margin: auto;
  text-align: center;
}
.cards_wrapper {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.add_new_color {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2;
}
.add_new_color.active .icon {
  animation: hideAddIcon 0.5s forwards cubic-bezier(0.59, 0.01, 0.4, 1) 0.1s;
}
.add_new_color.active .form {
  animation: showColorForm 0.5s forwards cubic-bezier(0.59, 0.01, 0.4, 1) 0.1s;
}
.add_new_color > * {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.add_new_color .icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
@keyframes hideAddIcon {
  to {
    transform: scale(0);
  }
}
.add_new_color .icon img {
  width: 60%;
}
.add_new_color .form {
  padding: 20px;
  width: 220px;
  transform: scale(0);
  transform-origin: bottom right;
  transition: 0.5s cubic-bezier(0.59, 0.01, 0.4, 1);
}
@keyframes showColorForm {
  to {
    transform: scale(1);
  }
}

.add_new_color .form input {
  width: 100%;
  padding: 10px 5px;
  border-radius: 1px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}
.add_new_color .form button {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 1em;
  background-color: #139ad6;
  background-color: #263b80;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  color: #fff;
}
.add_new_color .form button:disabled {
  background-color: #ccc;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.4);
}

.card {
  width: calc(100% / 6 - 16px);
  height: 150px;
  margin: 0 8px 15px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.16);
  border: 2px solid #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_new {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ccc;
}

.card .copy_color_btn {
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
  outline: 0;
}
.card input {
  transform: scale(0);
  position: absolute;
}
.card .copy_animation_layer {
  opacity: 0;
  background-color: #000;
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(1);
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: copyAnimation 0.4s forwards cubic-bezier(0.59, 0.01, 0.4, 1);
}
@keyframes copyAnimation {
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 1;
  }
}
.card .copy_animation_layer img {
  width: 60%;
  transform: scale(0) rotate(-45deg);
  animation: doneImgAnimation 0.8s forwards cubic-bezier(0.59, 0.01, 0.4, 1)
    0.1s;
}
@keyframes doneImgAnimation {
  0% {
    transform: scale(0) rotate(-45deg);
  }
  50% {
    transform: scale(1.1) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
